[submodule "honcho/ext/pylink"]
    path = honcho/ext/pylink
    url = https://github.com/CooviM/pylink
[submodule "honcho/ext/pycampbellcr1000"]
    path = honcho/ext/pycampbellcr1000
    url = https://github.com/CooviM/pycampbellcr1000
[submodule "honcho/ext/pynmea2"]
    path = honcho/ext/pynmea2
    url = https://github.com/CooviM/pynmea2
[submodule "honcho/ext/requests"]
    path = honcho/ext/requests
    url = https://github.com/CooviM/requests
[submodule "honcho/ext/schedule"]
    path = honcho/ext/schedule
    url = https://github.com/CooviM/schedule
[submodule "honcho/ext/pexpects"]
    path = honcho/ext/pexpects
    url = https://github.com/CooviM/pexpects
